@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca&display=swap");
/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Big Shoulders Display', cursive; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --bright--orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /*  ### Neutral */

  --transparent-white: hsla(0, 0%, 100%, 0.75); /*  (paragraphs) */
  --very-light-gray: hsl(0, 0%, 95%); /*  (background, headings, buttons) */
}

body {
  background-color: var(--very-light-gray);
  color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
}

.main {
  padding-top: 200px;
}
.container {
  width: 80%;
  max-width: 1250px;

  margin: 0 auto;
}
.card {
  padding: 60px;
}
.card h1 {
  text-transform: uppercase;
  padding: 24px 0;
  color: var(--very-light-gray);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
}
.card p {
  color: var(--transparent-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  font-family: "Lexend Deca", sans-serif;
}

.btn {
  margin-top: 35px;
  padding: 20px 51px;
  text-decoration: none;
  border: none;
  border-radius: 100px;
  text-transform: capitalize;
  font-size: 16px;
  background-color: hsl(0, 0%, 95%);
  transition: 0.5s;
}
.btn:hover {
  border: 1px solid #fff;
  background: none;
  color: #fff;
}
.btn1 {
  color: var(--bright--orange);
}
.btn-suv {
  color: var(--dark-cyan);
}
.btn-lux {
  color: var(--very-dark-cyan);
  margin-top: 60px;
}
.card1 {
  background-color: var(--bright--orange);
  color: var(--bright--orange);
}
.card2 {
  background-color: var(--dark-cyan);
  color: var(--dark-cyan);
}

.card3 {
  background-color: var(--very-dark-cyan);
  
}

@media (min-width: 999px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .card1 {
    border-radius: 12px 0 0 12px;
  }
  .card3 {
    border-radius: 0 12px 12px 0;
  }
}


